
.navbar{
    display: flex;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    justify-content:space-between;
    background-color: var(--cor1);
}


.logo{
    width: 80%;
    text-align: center;
}

.navlinks {
    display: block;
    list-style: none;
    
}

.navlinks li a{
    margin-right: 20px; 
}
